<section data-ng-controller="EtapasController" data-ng-init="find()">
    <div class="page-header">
        <h1>Etapas</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="etapa in etapas" data-ng-href="#!/etapas/{{etapa._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="etapa.created | date:'medium'"></span>
				by
				<span data-ng-bind="etapa.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="etapa.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!etapas.$resolved || etapas.length">
    	No Etapas yet, why don't you <a href="/#!/etapas/create">create one</a>?
    </div>
</section>